<h3>Links:</h3>
<ul>
    <li><a href="{% url 'shop_app:products' %}">Show products</a></li>
    <li><a href="{% url 'shop_app:categories' %}">Show categories</a></li>
    <li><a href="{% url 'shop_app:create' %}">Add category</a></li>
    <li><a href="{% url 'shop_app:create_product' %}">Add product</a></li>
    <li><a href="{% url 'shop_app:category_products' %}">To products and categories</a></li>
    <li><a href="{% url 'shop_app:profile' %}">Go to Profile</a></li>
    <li><a href="{% url 'shop_app:home' %}">Go to home</a></li>
    <li><a href="{% url 'shop_app:index' %}">Back to main page</a></li>
</ul>