<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Фильмотека</title>
</head>
<body>
<header>
    <div class="site-logo">
        <a href="index.html">Фильмотека</a>
    </div>
    <nav>
        <ul class="main-menu">
            <li><a href="index.html">Главная</a></li>
            <li><a href="genres.html">Жанры</a></li>
            <li><a href="about.html">О нас</a></li>
            <li><a href="contacts.html">Контакты</a></li>
        </ul>
    </nav>
</header>

<main>


    <section>
        <h2>Матрица</h2>

            <h3>Matrix</h3>
            <p>1999</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad asperiores culpa dicta ea, enim esse est fugiat in laudantium maiores neque nihil nulla numquam, perspiciatis placeat porro provident quis quod.</p>

    </section>

</main>

<footer>

</footer>
</body>
</html>
